<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link href="https://fonts.googleapis.com/css?family=Marck+Script" rel="stylesheet">
        
        <script src="js/build.js"></script>

        <link type="text/css" rel="stylesheet" href="css/build.css"/>
        
        <title>Jouki Tikkanen</title>
    
        <script>
            // generate random background
            var num = Math.floor(Math.random() * 4) + 1  
            console.log(num);
            
            $(document).ready(function() {
               
                $('#hero-img').css({
                   'background' : '#000 url("/img/hero' + num + '.jpg") top left no-repeat',
                    'opacity' : '0.1'
                });
                $('bg-overlay').fadeOut(300, function() {
                     $('bg-overlay').delete();
                })
                $('#hero-img').fadeTo('slow', 1, function() {
                  // ready  
                });
            });
        </script>

    </head>
        
    <body>
        
    <!-- COMMENT -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9&appId=788868931278924";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
        
        
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Jouki Tikkanen</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
          
        <div class="collapse navbar-collapse" id="main-nav-collapse">
          <ul class="nav navbar-nav navbar-right">
            {{#each contentful.pages}}
                <li class=""><a class="button" href="{{this._url}}">{{this.name}}</a></li>
            {{/each}} 
   
          </ul>

          
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="container-fluid" id="hero-img">
        
        <div class="col-md-3 col-md-offset-6 col-sm-4 col-sm-offset-4 col-xs-8">
            
             <div class="widget instagram">
                <!-- InstaWidget -->
                <a href="https://instawidget.net/v/user/jouki_" id="link-b4bce161325c2597a7aaae7c9a05b5ec756f8e1bfda45de2ca72def62a1c79b5">@jouki_</a>
                <script src="https://instawidget.net/js/instawidget.js?u=b4bce161325c2597a7aaae7c9a05b5ec756f8e1bfda45de2ca72def62a1c79b5&width=300px"></script>    
            </div>

        </div>    
        
        <div class="col-md-3 col-sm-4 hidden-xs">
            
            <div class="widget facebook">
               <div class="fb-page" data-href="https://www.facebook.com/JoukiTikkanenRG/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false"><blockquote cite="https://www.facebook.com/JoukiTikkanenRG/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/JoukiTikkanenRG/">Jouki Tikkanen - gymnast</a></blockquote></div>     
            
            
            </div>


        </div>  
    </div>
        
    <div class="container-fluid">

        <div class="col-md-6 col-xs-12">
            {{#each contentful.posts}}

             <h2><a class="button" href="{{this._url}}">{{this.headline}}</a></h2>


            {{/each}}
        </div>
             
        
     </div>
      

    </body>
</html>