<html>
    <head>
        
    <script src="js/build.js"></script>
    <link type="text/css" rel="stylesheet" href="css/build.css"/>
    
    </head>

    <body>
    
        <h1>{{entry.headline}}</h1>
        
        <p>{{entry.body}}</p>
        
    </body>
</html>