
#main table td, #main table th {
    padding : 10px;
}

#footer {
    height:100px;
    background:#000;
    margin-top:20px;
}
img.t_logo {
   max-width:100%; 
}
#home #hero-img {   
    background: #eee;
    width:100%;
    height:407px;
    margin-top:-20px;
    margin-bottom:20px;
}

#page #hero-img {   
    background: #000 url(/img/hero1.jpg) -20px -60px no-repeat;
    width:100%;
    height:207px;
    margin-top:-20px;
    margin-bottom:20px;
}
.widget {
    padding: 10px;
    background: #fff;
    border: 1px solid #ddd;
    text-align:center;
    overflow:hidden;
    height:367px;
    margin-top:20px;
    border-radius:20px;
    opacity:0.9;
}
.navbar-brand {
  font-size: 28px;
  font-family: 'Marck Script', cursive;
}
.navbar-default .navbar-brand {
  color: #444;
}
.navbar-default .navbar-text {
  color: #444;
}